<div class='container user-dashboard-page'>
  <h1><%= current_user.username.capitalize %>'s Dashboard</h1>

  <div class="table-responsive">
    <table class="table text-center">
      <tbody>
        <tr>
          <td class="my-companies">
            <i class='glyphicon glyphicon-briefcase'></i>
            <h3>Favorite Companies</h3>
            <hr>
            <p><%= link_to "See All Companies", companies_path %></p>

            <%  @favorited_companies.each do |company| %>
            <p>
              <%= company.name %></p>
            <% end %>
          </td>
          <td class="my-connections">
            <i class='glyphicon glyphicon-user'></i>
            <h3>Favorite Members</h3>
            <hr>

            <% @favorite_members.each do |member| %>
            <p>
              <%= link_to member.username,user_path(member) %></p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="my-items">
            <i class='glyphicon glyphicon-pencil'></i>
            <h3>My Items</h3>
            <hr>

            <p><%= link_to "My Profile", profile_path %></p>
          </td>
          <td class="my-locations">
            <i class='glyphicon glyphicon-globe'></i>
            <h3>Locations</h3>
            <hr>

            <p><%= link_to "My Profile", user_path(current_user) %></p>
          </td>
        </tr>
        <tr>
          <td class="my-lifestyle">
            <i class='glyphicon glyphicon-headphones'></i>
            <h3>Lifestyle</h3>
            <hr>
            <p><%= link_to "My Profile", user_path(current_user) %></p>
          </td>
          <td class="my-comapnies">
            <% if current_user.companies %>
            <i class='glyphicon glyphicon-headphones'></i>
            <h3>My Workplaces</h3>
            <hr>
            <p><%= link_to "My Profile", user_path(current_user) %></p>
            <p>
              <% @companies.each do |c| %>
            </p>
            <p>
              <%= c.name %>
            </p>
            <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
