<div class="container text-center">

   <h1>Login Page</h1><br/><br/>

   <h4> <%= link_to "Create Account", new_user_path  %> </h4><br/><br/><br/>

   <%= form_for(:session, url: login_path) do |f| %>
   <%= f.label :username %><br/>
   <%= f.text_field :username %><br/><br/>

   <%= f.label :password %><br/>
   <%= f.password_field :password %><br/><br/>

   <%= f.submit "Log In", :class => "btn btn-primary" %>
   <% end %><br/><br/>
 </div>

