<h3>All Companies</h3>
<div class="container">
  <% @companies.each do |company| %>
  <div class="row company-<%= company.id %>">
      <%= company.name %>
      <img src="<%= company.image_url %>" alt="company picture">
      <% company.industries.each do |industry| %>
        <%= industry.name %>
      <% end %>
      <% company.locations.each do |location| %>
        <%= location.city %>, <%= location.state %>
      <% end %>
      <p>Turing Grads Who Have Worked Here: <%= company.employed_users.count %></p>
  </div>
  <% end %>
</div>
