<div class="text-center row">

<h1 class = "page-header"><%= @company.name %>
  <% if current_user.favorite_companies.include? @company %>
    <%= link_to favorite_companies_path, data: {params: {favorite_company_id: @company.id}.to_param, remote: true, method: :delete}, class: "pull-right" do %>
      <span class="glyphicon glyphicon-star" style="font-size:.75em"></span>
    <% end %>
  <% else %>
    <%= link_to favorite_companies_path, data: {params: {favorite_company_id: @company.id}.to_param, remote: true, method: :post}, class: "pull-right" do %>
      <span class="glyphicon glyphicon-star-empty" style="font-size:.75em"></span>
    <% end %>
  <% end %>
</h1><br>
<div class="col-md-4">
<a href="<%= @company.linkedin_url %>">
  <img class = "social-media-logo" src="https://content.linkedin.com/content/dam/brand/site/img/logo/logo-tm.png" alt="linkedin-logo">
</a>
</div>
<div class="col-md-4">
<a href="<%= @company.twitter %>">
  <img class = "social-media-logo" src="https://1.bp.blogspot.com/-fYzEVSAoYpo/V1BbBMPg7EI/AAAAAAAAAHw/8mUCv6Jzs2MZtFXkwpdLdBFUVrr7FFh9ACLcB/s1600/twitter%2Blogo%2Btransparent%2B234.png" alt="twitter-logo">
</a>
</div>
<div class="col-md-4">
<h3><a href="<%= @company.website %>">Website</a></h3>
</div>
</div>
<div class="overview col-md-3 text-center">
  <h4>Company Overview</h4>
  <p>
    <label>Industries</label> <br>
    <% @company.industries.each do |industry| %>
      <%= industry.name %> <br>
    <% end %>
  </p>
  <p>
    <label>Locations</label><br>
    <% @company.locations.each do |location| %>
      <%= location.city %>, <%= location.state %> <br>
    <% end %>
  </p>
  <p>
    <label>Tech Stack</label>  <br>
    <% @company.technologies.each do |technology| %>
      <span class="label label-primary"><%= technology.name %></span>
    <% end %>
  </p>
  <p>
    <label>Contacts</label><br>
    <% @company.contacts.each do |contact| %>
    <div class="badge text-center col-md-12 contact-badge">
      <%= contact.name %><br>
      <%= contact.title %><br>
      <%= contact.email %><br>
    </div>
    <% end %>
    <div class="text-center">
    <a class="btn btn-primary new-contact-button" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Add New Contact</a>
  </div>
    <div class="collapse new-contact-form" id="collapseExample">
      <div class="well">
        <%= form_for(:contact, url: "/contacts") do |f| %>
          <%= f.hidden_field :company_id, :value => @company.id, :name => "contact[company_id]"%>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :title %>
          <%= f.text_field :title %>
          <%= f.label :email %>
          <%= f.text_field :email %>
          <div class="text-center">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </p>
</div>


<div class = 'col-md-8 tabs'>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#co-members-<%= @company.id %>" aria-controls="home" role="tab" data-toggle="tab">Members Who Have Worked Here</a></li>
    <li role="presentation"><a href="#interview-questions-<%= @company.id %>" aria-controls="profile" role="tab" data-toggle="tab">Interview Questions</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active row" id="co-members-<%= @company.id %>">
      <% @company.employed_users.each do |user| %>
      <div class="col-md-4 text-center">
        <div class="panel-body member-panel">
          <img class = "img-responsive" src="<%= user.image_url %>" alt="user-image">
          <%= "#{user.first_name} #{user.last_name}" %>
          <p>
            <% user.locations.each do |location| %>
            <%= location.city  %></br>
            <%= location.state %></br>
            <% end %>
          </p>

          <p><%= user.cohort %></p>
        </div>
      </div>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="interview-questions-<%= @company.id %>">
      <% @company.interview_questions.each do |question| %>
        <div class="panel panel-default">
          <div class="panel-body"><%= question.description %></div>
          <div class="panel-footer">Question Submitted On: <%= question.created_at.to_formatted_s(:long) %></div>
        </div>
      <% end %>
      <div class="text-center new-question">
      <%= form_for(:interview_question, url: "/interview_questions") do |f| %>
        <%= f.hidden_field :company_id, :value => @company.id, :name => "interview_question[company_id]"%>
          <%= f.label "Submit a New Interview Question!" %><br>
          <%= f.text_area :description, class: "form-control" %><br>
          <%= f.submit 'Submit', :class =>"btn btn-success"%>
      <% end %>
      </div>
    </div>
  </div>
</div>
