</br>
</br>
<div class="container">
  <div class="row">

    <% if !current_user.locations.blank? %>
    <div class="col-md-4">
      <h3 class="text-center">Your Current Location</h3>
      <h4 class="panel-body text-center">
          <%= @locations.recent_location(current_user).full_address %>
        </h4>
      </div>


    <div class="col-md-8">
      <div id="location" style="width: 100%; height: 400px">
        <% current_user.locations.each do |location| %>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>"></script>
        <script>
        function initialize() {
          var location = { lat: <%= location.latitude %>, lng: <%= location.longitude %> };
          var map = new google.maps.Map(document.getElementById('location'), {
            center: location,
            zoom:14
          });

          var marker = new google.maps.Marker({
            position: location,
            map: map
          });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <% end %>
      </div>
    </div>

  </div>
</div>

<br>
<br>
<br>
<hr>
<div class="container">
  <div class="row">

    <div class="col-md-4 text-center">
      <h3>Closest Members</h3>
      <% for nearby_member in current_user.locations.last.nearbys(300) %>
            <% nearby_member.users.each do |user| %>
              <p><%= link_to user.username, user_path(user) %></p> <%= nearby_member.distance.round(2) %> Miles Away</p>
              <% end %>
              <%= "No member within 200 miles" if nearby_member.nil? %>
      <% end %>

    </div>

    <div class="col-md-8 text-center">
      <h3>Closest Companies</h3>
      <% nearby_company = @companies.each do |company| %>
      <%  company.locations.where.not(latitude: nil, longitude: nil) %>
      <% end %>
      <% for nearby_company in current_user.locations.last.nearbys(500) %>
          <% nearby_company.companies.each do |company| %>
            <p><%= link_to company.name %></p>  <%= nearby_company.distance.round(2) %> Miles Away </p>
              <% end %>
      <% end %>
    </div>
  <% end %>

  </div>
</div>
<br>
<br>
