<div class="user-profile-page">
  <div id="jumbotron" class = "jumbotron profile-image">
    <div class = "container">
      <h1>Welcome <%= current_user.username %></h1>
        <!-- Button trigger modal -->
      <button type="button" id='update' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        UPDATE
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Profile Page</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <%=	form_for current_user, :url => user_path(current_user), :html => {:method => :patch, :class => 'form-horizontal'} do |f|   %>
                     <div class="field">
                       <%= f.label :image_url %>
                       <%= f.file_field :image_url %>
                       <%= f.label :resume %>
                       <%= f.file_field :resume %>
                     </div>
                    <div class="field form-group">
                        <%= f.label :first_name, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_field :first_name, class: 'form-control' %>  <br>
                      </div>
                    </div>
                    <div class="field form-group">
                        <%= f.label :last_name, class: 'control-label' %>  <br>
                      <div class="col-sm-6">
                        <%= f.text_field :last_name, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                        <%= f.label :headline, class: 'control-label' %>  <br>
                      <div class="col-sm-6">
                        <%= f.text_field :headline, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                        <%= f.label :email, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_field :email, class: 'form-control' %> <br>
                      </div>
                    </div>

                    <%= f.fields_for :locations, Location.new do |location_form| %>
                    <div class="field form-group">
                      <%= location_form.label :city , class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= location_form.text_field :city, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                      <%= location_form.label :state, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= location_form.text_field :state, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <% end %>

                    <div class="field form-group">
                        <%= f.label :summary, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_area :summary, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                        <%= f.label :twitter, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_field :twitter, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                        <%= f.label :slack, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_field :slack, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                        <%= f.label :github, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_field :github, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                      <%= f.label :about_me, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_area :about_me, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                      <%= f.label :interest, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_area :interest, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="field form-group">
                      <%= f.label :working_on, class: 'control-label' %> <br>
                      <div class="col-sm-6">
                        <%= f.text_area :working_on, class: 'form-control' %> <br>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <%= f.submit 'Submit', class: 'btn btn-primary' %>
                    </div>
                    <%	end  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



  <div id="wrap">
    <div id="header">
      <h1><%= current_user.first_name  %> <%= current_user.last_name %></h1>
      <h2><%= current_user.headline %></h2>
    </div>
    <div id="bio">
      <div id="about">
        <div id="photo-bg">
          <%= image_tag current_user.image_url, size: '170x170' if !current_user.image_url.nil? %>
        </div>
        <h3>About Me</h3>
        <p><%= current_user.about_me %></p>
        <h4><a href="<%= current_user.resume.url %>">Resume</a></h4>
      </div>
      <div id="contact-details">
        <h3>Contact Me</h3>
        <h5>Email: <span><%= current_user.email %></span></h5>
        <h5>Twitter: <span><%= current_user.twitter %></span></h5>
        <h5>Slack: <span><%= current_user.slack %></span></h5>
        <h5>Github: <span><%= current_user.github %></span></h5>
        <h5>Summary: <span><%= current_user.summary %></span></h5>
      </div>
  </div>
  <div class="line"></div>
</div>
</div>
<p><%= link_to 'Authorize app to use your Linkedin information',
               '/auth/linkedin', class: "btn btn-primary"  %></p>

<section class="cards">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Interest</h3>
            <p class="card-text"><%= current_user.interest %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">What I'm working on</h3>
            <p class="card-text"><%= current_user.working_on %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="container">-->
<!--<div class="col-md-2"></div>-->
  <!--<div class="row">-->
    <!--<div class="col-lg-8">-->
      <!--<h3 class="card-title">Location</h3>-->
          <%= image_tag "map_placeholder.png", size: '500x400'  %></br>
          <!--<% current_user.locations.each do |location| %>-->
          <%= location.city %></br>
          <%= location.state %></br>
          <!--<% end %>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-2"></div>-->
  <!--</div>-->

