<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user && current_user.default? %>
        <%= link_to "Turing Professionals", dashboard_path, class: "navbar-brand" %>
      <% else %>
        <%= link_to "Turing Professionals", root_path, class: "navbar-brand" %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Members", users_path %></li>
          <li><%= link_to "Member's Locations", locations_path %></li>
          <li><%= link_to "Companies", companies_path %></li>
          <li><%= link_to "Insights", insights_path %></li>
          <li class="dropdown">
            <% if current_user.first_name && current_user.last_name && current_user.default? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name + " " + current_user.last_name %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Dashboard", dashboard_path %></li>
                <li><%= link_to "My Profile", profile_path %></li>
                <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              </ul>
            <% elsif current_user.admin? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Dashboard", admin_dashboard_path %></li>
                <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              </ul>
            <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Dashboard", dashboard_path %></li>
                <li><%= link_to "My Profile", profile_path %></li>
                <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              </ul>
            <% end %>
        <% else %>
          <li><%= link_to 'Create Account', new_user_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </div>
    </div>
  </div>
</nav>
