<!DOCTYPE html>
<html>
  <head>
    <title>TuringProfessionals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-danger"><h4 class="flash_header"><%= sanitize(value) %> </h4></div>
    <% end %>

    <%= yield %>
  </body>
</html>
