<!DOCTYPE html>
<html>
  <head>
    <title>TuringProfessionals</title>
    <%= csrf_meta_tags %>

    <%= tag :meta, name: 'google_maps', content: "#{ENV["GOOGLE_API_KEY"]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

  </head>

  <body>


    <%= render partial: 'layouts/navbar' %>
    <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-success"><h3 class="flash_header"><%= sanitize(value) %> </h3></div>
  <% end %>
    <div class="container">

      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
