<!DOCTYPE html>
<html>
  <head>
    <title>TuringProfessionals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%#= google_webfonts_init({
        google: ['Roboto Salb', 'Roboto']
        }) %>

  </head>

  <body>

    <%= render partial: 'layouts/navbar' %>
    <%= render partial: 'shared/flash_message' %>
    <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
